@import url(https://fonts.googleapis.com/css?family=Sigmar+One);

body {
	 background: #f953c6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
	overflow: hidden;
}

.congrats-og {
	position: absolute;
	top: 140px;
	width: 550px;
	height: 100px;
	padding: 20px 10px;
	text-align: center;
	margin: 0 auto;
	left: 0;
	right: 0;
}

 
.blob {
	height: 50px;
	width: 50px;
	color: #00b3ff;
	position: absolute;
	top: 25%;
	left: 25%;
	z-index: 1;
	font-size: 30px;
	display: none;	
}
