*{
  font-family: "Roboto",Arial;
}
body{
  margin: 0;
  padding: 0;
      min-height: 100vh;
}
.page{
  background: #F6F6F6;
  display: flex;
  flex-wrap: wrap;
}

.center {
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
}
.col{
  flex: 1;
  height: 100vh;
  position: relative;
}
#logo {
   
    animation: monitorIn 1s ease-in-out forwards; /* assign animation to monitor with 'monitorIn' as keyframe name */
    opacity: 10;
    
     }

#illustration {
    grid-row: 3;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    width: 100%;
    padding: 10px;
   }
.nft{
  color: #41A4FF;
  width: 90%;
  display: flex;
  justify-content: center;
}
.countdown-col{
  background: url("https:astarter.io/uploads/image/banenr/banner-1.png?ver202204011010") no-repeat center;
  background-size: cover;
}
.time{
  color: #41A4FF;
  text-transform: uppercase;
  width: 90%;
  display: flex;
  justify-content: center;
}
.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.time span{
  padding: 0 14px;
  font-size: 10px;
}
.time span div{
  font-size: 40px;
}

.newsletter{
  width: 90%;
}
.newsletter h4{
  font-style: italic;
  font-size: 12px;
}
.newsletter input{
  display: block;
  margin: 12px auto;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  padding: 14px 20px;
  border-radius: 30px;
  border: 1px solid #ddd;
  outline: none;
}
.newsletter-btn{
  background: linear-gradient(125deg,#3498db,#34495e);
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}
.newsletter-btn:hover{
  opacity: .7;
}

@media screen and (max-width :900px){
  .col{
    flex: 100%;
  }
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(9, 187, 233, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(9, 187, 233, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(9, 187, 233, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 20px rgba(9, 187, 233, 0);}}

     @keyframes monitorIn {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
    } 
