body {
  padding: 20px 0;
 background: #f953c6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  overflow: hidden;
}

.container {
  border: 3px solid green;
  position: relative;
  width: 300px;
  height: 560px;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  -o-user-select: none;
  user-select: none;
}

.canvas {
  position: absolute;
   top: 0;
}

.reveal {
   background-image: url("awl-cute-300.png");
  padding: 20px;
}

.form {
  background: rgba(29, 38, 113, 0.3);
  color: white;
 padding: 20px;

}

.button {
  background-color: #19191a;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration-color: #ffffff;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
  background-color: #226de6;
}

.instruction {
  background-color: blue;
 color: #ffffff;
 
  position: absolute;
   width: 300px;
  height: 260px;
  top: 300px; left: 0px;
}
